.card {
    width: 21rem;
    height: 32rem;
    border-radius: 15px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #3c3e44;

}
  
.card img {
    width: 15rem;
    height: 15rem;
    border-radius: 10px;  
}
  
.card h2 {
    text-align: center;
    color: #fff;
    font-size: 3rem;  
    margin-top: 1rem;
}
  
.card p {
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 1.5rem;
    margin-top: 2rem;
}